.page-header{
    text-align: center;
}
.h3, h3 {
    background-color: #fdfae5;
    color: #1b521c;
    border-bottom: solid 1px #d9d9d9;
    width: fit-content;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-bottom: 20px;
}
.recuo{
    margin-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
}
dl{
    margin-left: 1.8rem;
}
dd {
    margin-left: 1rem;
}
.dt-date{
    background-color: #389143;
    color: #fff;
    width: fit-content;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.objt{
    background-color: #3ca245;
    color: white;
}
.card-header{
    background-color: #ffffe2;
}
.link-remoto{
    color: #00f1ff;
    text-decoration: underline;
}